@import 'color-scheme3.css';



/* Core Stuff */
* {
    display: flex;
    margin:0;
    padding: 0px;
}
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body {
    font-size: 2vh;
    line-height: 1.7;
    color: #606d6e;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

/* a {
   color: white;
   text-decoration: none;
   } */

a:hover {
    color: #175E91;
    font-style: bold;
    text-decoration: none;
}

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}

/* Utility Classes */
.wrapper {
    display: flex;
    flex-direction: column;
}

.padding {
    padding: 3rem 1rem;
}

.left {
    float: left;
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Content Styling */
.header .padding {
    padding: 1rem 0;
}

.header {
    min-height: 200px;
    width: 100%;
}

.header a {
    color: #fff;
}

.header .logo {
    font-size: 1.7rem;
    text-transform: uppercase;
}


/* Menu Settings */
.main-nav ul {
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 45px;
    color: #fff;
    padding: 0 20px;
    white-space: nowrap;
}

.main-nav > ul > li > a {
    border-radius: 2px;
}

/*Active dropdown nav item */
.main-nav ul li:hover > a {
    background-color: #175E91;
}

/* Selected Dropdown nav item */
.main-nav ul li.selected > a {
    background-color: #fff;
    color: #175E91;
}

/* Dropdown CSS */
.main-nav ul li {position: relative;}

.main-nav ul li ul {
    position: absolute;
    background-color: #1F8DD6;
    min-width: 100%;
    text-align: left;
    z-index: 999;

    display: none;
}
.main-nav ul li ul li {
    display: block;
}

/* Dropdown CSS */
.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}

/* Active on Hover */
.main-nav li:hover > ul {
    display: block;
}

/* Child Indicator */
.main-nav .has-children > a {
    padding-right: 30px;
}
.main-nav .has-children > a:after {
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}

.main-nav .has-children .has-children > a:after {
    content: '\f105';
}


/* my css */

nav{
    display:flex;
    flex-direction:row;
    align-self: flex-end;
    transform: matrix(1,0,0.5,1,10,0);
    padding-left: 60px;
    background-color: inherit;
}
.nav-wrapper{
    display:flex;
    flex-direction: column;
    align-self: flex-end;
    width: auto;
    margin-top: auto;
    transform: matrix(1,0,-0.5,1,-10,0);
}
.main-nav{
    border-top: black solid 1px;
}
#body{
    border-top: black solid 1px;
    border-bottom: black solid 2px;
}
title{
    color: white;
    align-self: left;
    margin-left: 2vh;
}
.logo-wrapper{
    align-self: left;
    margin-bottom: 5vh;
    width: 100%;
}
.logo{
    align-items: flex-start;
    margin-left: 5vh;
}
img{
    margin: 2vh;
}
#eflogo{
    max-width: 50%;
}
#kontakt{
    width: 50%;
}
div.wrapper.padding{
    align-items: center;
    width: 75%;
}
.footer{
    margin-top:auto;
}
#text{
    width: 70vh;
    font-size: 2vh;
}


.footer{
    min-height: 5%;
}
.white-text{
    color: white !important;
}
.jwd{
    padding:5px;
    margin-right: 10px;
}
div.jwd > p > a{
    margin-right: 5px;
}
.language-selector{
    align-self:end;
}
#langSelectorList{
    flex-direction:column;
}
.black-text{
    color:black !important;
}
#langSelectorList a{
    color:black;
}
.uk-button{
    color: #f1f1f1 !important;
}
.search-wrapper{
    align-self:end;
    height: 5vh;
    margin: 5vh;
}
.search{
    justify-content: center;
    height: 100%;
}
#searchID{
    width: 35%;
}
.search-input{
    border: black solid 2px;
    padding: 2px;
}
/* blog_item css */
em{
    margin-left:1vh;
}

.p-summary{
align-self: flex-start;
}

/* media queries */

@media(max-width: 1100px)
{
    div.wrapper.padding{
        align-items: center;
        width: auto;
    }
    #uk-toggle{
        display: inline-block;
    }
    .main-nav{
        flex-direction:column;
        transform:none;
        width:100vw;
    }
    nav ul{
        flex-direction:column;
    }
    .nav-wrapper{
        transform:none;
    }
    #eflogo{
        width: 15vh;
    }
    #text{
        width:auto;
    }
    .home-main{
        align-items: center;
    }
}
@media(max-width: 850px){
    #text{
        width: 100%;
    }
}
@media(max-width: 700px)
{
    #eflogo{
        max-width: 70%;
    }
    .logo-wrapper{
        margin-bottom:0;
    }
    .nav-wrapper{
        margin-top:0;
    }
    .header {
        min-height: auto;
        width: 100%;
    }
}
@media(max-width: 1100px)
{
    .logo-wrapper{
        flex-direction:column;
        align-items:center;}
    #text{
        margin:3vw;
        }
    .list-item{
        flex-direction:column;
    }
    .home-main{
        flex-direction: column !important;
    }
    #kontakt{
        width: 100%;
    }
}
@media screen and (min-width: 1100px) {
    #uk-toggle{
        display: none !important;
    }
    #text{
        width: auto;
    }
}
